<div class="po-wrapper">
  <po-menu [p-menus]="menus" [p-collapsed]="true"></po-menu>

  <div *ngIf="!isLoading">
    <po-toolbar
      p-title="Po-ui x Protheus"
      [p-profile]="profile"
      [p-profile-actions]="profileActions">
    </po-toolbar>

    <router-outlet></router-outlet>
  </div>
</div>

<po-modal #userModal p-title="Detalhes do usuário" *ngIf="user">
  <po-info class="po-xl-6 po-lg-6 po-md-6 po-sm-12" p-label="Código" [p-value]="user.id"></po-info>
  <po-info class="po-xl-6 po-lg-6 po-md-6 po-sm-12" p-label="Nome de usuário" [p-value]="user.userName"></po-info>
  <po-info class="po-xl-12 po-lg-12 po-md-12 po-sm-12" *ngIf="user.emails && user.emails.length > 0" p-label="Email" [p-value]="user.emails[0].value"></po-info>
</po-modal>